<template>
  <v-app>
   <v-app-bar app color="primary"  dark clipped-left elevation="3" >
   
   <v-icon  @click="goHome" >mdi-vuejs</v-icon>
   
     
   <div class="d-flex align-center font-weight-bold">
    
   &nbsp; Demo Project
   
   </div>
   </router-link>
     <v-app-bar-nav-icon   ></v-app-bar-nav-icon>
       <div class="d-flex align-center font-weight-bold">{{this.item}}</div>
   
       <v-spacer></v-spacer>
     

      
    </v-app-bar>
   <v-navigation-drawer
      v-model="drawer"
      app
      clipped
      floating
    
    >

      
        <v-treeview
          :active.sync="active"
          :items="items"
          :load-children="fetchUsers"
          :open.sync="open"
          activatable
          class="my-2"
          open-on-click
          transition
          
        
        
        >
  
          <template v-slot:prepend="{ item }"  >
      
            <v-icon v-if="!item.children"  >
              mdi-table-large
            </v-icon>
           
          </template>
          
         
          <template v-slot:label="{ item }"  >
      
          <span v-if="item.children"></span>
          {{item.name}}
           
          </template>

        
        </v-treeview>
        
     



     
  

    </v-navigation-drawer>

   

    <v-main class="router_color">
      <router-view></router-view>
    </v-main>
  </v-app>
</template>

<style></style>

<script lang="ts">
import Vue from "vue"
import eventBus from '@/EventBus'



export default Vue.extend({
  name: "App",
  components: {},

  data () {
      return {
        right: null,
        drawer: true,
        item:'',
        dark:false,
        console:'',
        active: [],

      open: [],
      users: [],
      tables:[],
  
    }

  },

  computed: {
      items () {
        return [
          {
            id:'1',
            name: 'Refresh Table',
            children: this.users,
          },
          {
            id:'2',
            name: 'Normal Table',
            children: this.tables,
          },
        ]
      },
   
    },


    watch: {
   

    active (arr) {
     // return this.$router.go(0)
      console.log(this.open)
      const activeChannel = JSON.parse(JSON.stringify(this.active))
      console.log(activeChannel[0])
      eventBus.$emit('channelInfo',activeChannel[0])
       let request;
   
          request = this.$http.get('http://localhost:8080/getDataTable/'+activeChannel[0])
            
         
          return request.then(
             
              res =>{
                eventBus.$emit('pushChannelMsg',res.data.result)
              }
                
            )

      
    },
  },
   

    methods: {

      goHome(){
        return this.$router.go('/Home')
      },

      async fetchUsers (item) {

          if(item.name==='Normal Table'){
              let request;
   
            request = this.$http.get('http://localhost:8080/normal')
            
         
          return request.then(
             
              res =>{
                console.log(...res.data.result)
                console.log(item)
                item.children.push(...res.data.result)
              }
                
            )

          }else if(item.name==='Refresh Table'){
              let request;
   
              request = this.$http.get('http://localhost:8080/refresh')

         
            return request.then(
             
              res =>{
                console.log(...res.data.result)
                console.log(item)
                item.children.push(...res.data.result)
              }
                
            )
          }

        
      },

   


   
    },
    
})

</script>

<style scoped>


 .router-link-active{   

    display: block;
  
    border-radius: 3px;
    font-weight:bold;
 
 }


.router_color{
  background: #f8f8f8
}
 
 a {
   text-decoration: none;
  
 }

</style>
