<template>

  <span>
    <v-text-field
      v-model="search"
      append-icon="mdi-magnify"
      label="Search"
    
     rounded
      outlined
      hide-details
      background-color="white"
      class="elevation-2 my-5"
     
    ></v-text-field>

    <v-tabs dark background-color="primary" grow hide-slider show-arrows outlined>
      <v-tab v-on:click="search = ''"
        >Total: {{ vulnerabilityStats.total }}
      </v-tab>
     
    </v-tabs>

    <v-data-table
 
      @click:row="rowClick"
      rounded
      show-expand
      single-expand
      :headers="headers"
      :items-per-page="5"
      :items="selectedChannelInfo"
      item-key="id"
      class="elevation-2 mb-5"
      :sort-by="sortBy"
      :search="search"
      :expanded.sync="expanded"
    >
     <template v-slot:expanded-item="{ headers, item }">
        <td :colspan="headers.length"  >
         <p></p>
          <h3>Message: </h3>
          <p>{{ item.Message }}</p>
         
        </td>
      </template>
      <template v-slot:item.Critical="{ headers, item }">
         <v-chip
        :color="
        item.Critical > 0
          ? '#ff3300'
          : 'green'
        "
        dark
        
       >
      <v-icon v-if="item.Critical>0">mdi-alert-circle</v-icon>
      <v-icon v-if="item.Critical===0">mdi-check-circle</v-icon>
     
       &nbsp; {{ item.Critical }}
      </v-chip>
       
      </template>
      <template v-slot:item.Project="{ headers, item }" >
     
       <router-link :to="'/Home' " 

          >
           <div v-on:click="search_Info">{{ item.Project }}    </div >
          </router-link>
      
      </template>
     
    </v-data-table>
  
  </span>
</template>

<script lang="ts">
import Vue from "vue"
import { Component, Prop } from "vue-property-decorator"
import { ChannelInfo, VulnerabilitySeverityInformation } from "@/types"
import Clipboard from "v-clipboard"
import eventBus from '@/EventBus'

Vue.use(Clipboard)

type VulnerabilityStats = {
  total: number
 

   }


 

@Component
export default class DataTable extends Vue {
  @Prop({ required: true }) selectedChannelInfo: ChannelInfo[]

  private expanded: any[] = []
  private sortBy = "Severity"
  private search = ""
  private color=""


  mounted(): void {

        // 通过事件总线监听消
      eventBus.$on('rm_Search',(children1Msg: any) => {
        console.log(children1Msg);
        this.search=''
    
    })


        // 通过事件总线监听消
      eventBus.$on('channelInfo',(children1Msg: any) => {
        console.log(children1Msg);
       
    
    })

  }


  get vulnerabilityStats(): VulnerabilityStats {
    const total = this.selectedChannelInfo.length

    return {
      total,

    }
  }


   public rowClick(item, row){
  
    if(this.expanded.length===0){
        this.expanded.push(item)    
    }else if(this.expanded[0].Id===item.Id){
        this.expanded.pop()   
    }else{
      this.expanded.pop()
      this.expanded.push(item)   
    }    
       
   
  }
   public search_Info(row){
  
      this.search=row.srcElement.innerText;
      // 通过事件总线发送消息
        eventBus.$emit('Info',row)
   
  }


  private headers = [
   // { text: "Target", value: "Target" },
{ text: "Id", value: "Id" },
    { text: "Channel Name", value: "Channel_Name"},
    //{ text: "123", value: "VulnerabilityID" },
     { text: "Time", value: "Time" },
      { text: "SeqNum", value: "SeqNum" },
       { text: "MsgType", value: "MsgType" },

   
  ]
}
</script>

<style scoped>
a:hover{
   text-decoration: underline;
}

a{
   text-decoration: none;
}
</style>
