<template>
 
</template>

<script lang="ts">
import Vue from "vue"
import VueFileAgent, { FileRecord } from "vue-file-agent"
import { Component, Prop, Ref, Watch } from "vue-property-decorator"
import {
  Version1OrVersion2,
  Version1,
  NormalInfo,
  VulnerabilityReportFile,
  VulnerabilityReportTarget,
  RefreshInfo,
  ChannelInfo,
} from "@/types"
import ReportUrlFetcher from "@/components/ReportUrlFetcher.vue"
import eventBus from '@/EventBus'

enum ReportSource {
  File,
  Url,
}

Vue.use(VueFileAgent)
@Component({
  components: { ReportUrlFetcher },
})
export default class DataInput extends Vue {
  private selectedTarget = ""
  private reportSource = ReportSource.File
  private ReportSource = ReportSource
  private msg = ""
 


  @Prop() private presetUrl?: string
  @Ref() readonly fileAgent!: {
    deleteFileRecord: (fileRecordOrRaw: FileRecord) => void
  }

  mounted(): void {
    if (this.presetUrl) {
      this.reportSource = ReportSource.Url
    }

    eventBus.$on('pushNormalMsg', (children1Msg: any) => {
                
                
                const parsedReport = JSON.parse(JSON.stringify(children1Msg))
                const vulnerabilityTargets = this.extractTargets(parsedReport)
                
                if (vulnerabilityTargets) {
                    this.handleNewReport(vulnerabilityTargets,1)
                }
    })

     // 通过事件总线监听消息
    eventBus.$on('pushRefreshMsg', (children1Msg: any) => {
                
                
                const parsedReport = JSON.parse(JSON.stringify(children1Msg))
                const vulnerabilityTargets = this.extractTargets(parsedReport)
                
                if (vulnerabilityTargets) {
                    this.handleNewReport(vulnerabilityTargets,2)
                }
    })


     // 通过事件总线监听消息
    eventBus.$on('pushChannelMsg', (children1Msg: any) => {
                
                
                const parsedReport = JSON.parse(JSON.stringify(children1Msg))
                const vulnerabilityTargets = this.extractTargets(parsedReport)
                
                if (vulnerabilityTargets) {
                    this.handleNewReport(vulnerabilityTargets,3)
                }
    })


  
  }


  file: FileRecord | Record<string, never> = {}
  private vulnerabilityReport: VulnerabilityReportTarget[] = []
 

  @Watch("selectedTarget")
  public onNewTarget(): void {
    this.$emit("inputNormalInfoChanged", this.vulnerabilityReport)

  }

  @Watch("selectedTarget")
  public onNewPkgTarget(): void {
    this.$emit("inputRefreshInfoChanged", this.vulnerabilityReport)
  }

  @Watch("selectedTarget")
  public onNewProjectTarget(): void {
    this.$emit("inputChannelInfoChanged", this.vulnerabilityReport)
  }





  private static isSchemaVersion2(
    obj: Version1OrVersion2
  ): obj is VulnerabilityReportFile {
    return !Array.isArray(obj) && obj.SchemaVersion >= 2
  }



   private extractTargets(parsedReport: Version1) {
    let vulnerabilityTargets: VulnerabilityReportTarget[]
    
    vulnerabilityTargets = parsedReport

    return vulnerabilityTargets
  }

  public onFileDeleted(fileRecord: FileRecord): void {
    this.fileAgent.deleteFileRecord(fileRecord)
  }

 

 

//index:
// 1: 漏洞数据总线
// 2: project info 总线
  private handleNewReport(vulnerabilityTargets: VulnerabilityReportTarget[],index) {
    this.vulnerabilityReport.splice(0)
    this.vulnerabilityReport.push(...vulnerabilityTargets)
    
    if(index ===1){
        this.onNewTarget()
   

    }else if(index ===2){
         this.onNewPkgTarget()
    }else if(index ===3){
         this.onNewProjectTarget()
    }


  }
 
}
</script>

<style scoped>
@import "~vue-file-agent/dist/vue-file-agent.css";
</style>
