<template>
 <span >

  <form ref="form" >
  <v-toolbar class="" rounded flat color="#f8f8f8">

   <v-row justify="space-between">
      <v-btn
           color="primary"
            @click="load"
            :loading="btnSaveLoading = false"
            v-show="return_button"
          >
            Back
             <v-icon right>mdi-keyboard-return</v-icon>
          </v-btn>
   

   
 </v-row >
   </v-toolbar>
</form> 
  
      <template>

        <v-row v-if ="loading" >
        <v-progress-circular
          
          indeterminate
          color="primary"
          style="position:absolute;top:30%;left:50%;margin-left:-16px;"
          ></v-progress-circular>
          </v-row>
        <v-row v-if ="error" class="my-2"
        ><v-col>
          <v-alert border="top" colored-border type="info" elevation="2">
            There is error from server !!!   {{message}}
          </v-alert></v-col
        ></v-row
      >
       
      </template>



   </span>
</template>

<script >
import Vue from "vue"
import VueFileAgent, { FileRecord } from "vue-file-agent"
import eventBus from '@/EventBus'
import { Component, Prop, Ref, Watch } from "vue-property-decorator"



Vue.use(VueFileAgent)

  export default  {

  
    data:()=>({
    

     message:'error',
     valid: false,
     error: false,
     loading: false,
     return_button: false,
     values: '',
     project:'',
     version:'',

    }),


    mounted:function(){
        this.load();


        // 通过事件总线监听消

    eventBus.$on('Info',(children1Msg) => {
       this.return_button=true
    })

    },

    methods: {
      

  
      load() {

            
            this.valid= false
            this.loading = true

            this.btnSaveLoading = true;
            let request;
            //request = this.$http.post('http://localhost:8080/getData/'+this.name+'/'+this.version, formData)
            request = this.$http.get('http://localhost:8080/getDataTable/11_normal')
            
         
            request.then(
             
              res =>{
                    console.log(res.data.errMsg);
                    console.log(res.data.result[0])
                   
                    //this.data=res.data.data[0]
                    //console.log(this.data);
                    
                    if(res.data.code === 200){

                        // 通过事件总线发送消息
                        eventBus.$emit('pushNormalMsg',res.data.result)
                    }else{
                        
                        this.message = " Code: " + res.data.code + " Error: " + res.data.errMsg
                        this.error=true
                    }
                  
                }
            ).finally(() => {
                this.btnSaveLoading = false
                this.loading = false
            
            }); 

             let request1;
            //request = this.$http.post('http://localhost:8080/getData/'+this.name+'/'+this.version, formData)
            request1 = this.$http.get('http://localhost:8080/getDataTable/11_refresh')
            
         
            request1.then(
             
              res =>{
                    console.log(res.data.errMsg);
                    console.log(res.data.result[0])
                   
                    //this.data=res.data.data[0]
                    //console.log(this.data);
                    
                    if(res.data.code === 200){

                        // 通过事件总线发送消息
                        eventBus.$emit('pushRefreshMsg',res.data.result)
                    }else{
                        
                        this.message = " Code: " + res.data.code + " Error: " + res.data.errMsg
                        this.error=true
                    }
                  
                }
            ).finally(() => {
                this.btnSaveLoading = false
                this.loading = false
            
            }); 
  
            this.error=false
            this.values=''
            this.return_button=false
          // 通过事件总线发送消息
            eventBus.$emit('rm_Search','')
      },
  
    },


    
     
  };
</script>