<template>
  <div>
    <v-container fluid>
    



      <ChannelDataTable 
        v-if="channelLoaded"
        :selectedChannelInfo="selectedChannelInfo"
      ></ChannelDataTable>
  
     
       <RefreshDataTable
      
       v-show="refreshLoaded"
        :selectedRefreshInfo="selectedRefreshInfo"
      ></RefreshDataTable>
     
         <NormalDataTable
      
       v-show="normalLoaded"
        :selectedNormalInfo="selectedNormalInfo"
      ></NormalDataTable>
     
  
      <DisplayInput
        :presetUrl="this.presetUrl"
      />
      <DataInput
        @inputNormalInfoChanged="reactivelySetNewNormalInfo"
        @inputRefreshInfoChanged="reactivelySetNewRefreshInfo"
        @inputChannelInfoChanged="reactivelySetNewChannelInfo"
        :presetUrl="this.presetUrl"
      />
      
        
        
    </v-container>
  </div>
</template>

<script lang="ts">
import Vue from "vue"
import { NormalInfo,RefreshInfo,ChannelInfo } from "@/types"
import { Component, Prop } from "vue-property-decorator"
import DisplayInput from "@/components/DisplayInput.vue" // @ is an alias to /src
import DataInput from "@/components/DataInput.vue" // @ is an alias to /src
import NormalDataTable from "@/components/NormalDataTable.vue"
import RefreshDataTable from "@/components/RefreshDataTable.vue"
import ChannelDataTable from "@/components/ChannelDataTable.vue"


@Component({
  components: {
    DataInput,
    DisplayInput,
    RefreshDataTable,
    NormalDataTable,
    ChannelDataTable,

  },
})
export default class Home extends Vue {
  @Prop() private presetUrl?: string
  private selectedNormalInfo: NormalInfo[] = []
  private selectedRefreshInfo: RefreshInfo[] = []
  private selectedChannelInfo: ChannelInfo[] = []

  private normalLoaded = false
  private refreshLoaded = false
  private channelLoaded = false

  private reactivelySetNewNormalInfo(newNormalInfo: NormalInfo[]) {
    this.selectedNormalInfo.splice(0)
    newNormalInfo.forEach(
      (item: NormalInfo, index: number) => (item.id = index)
    )
    this.selectedNormalInfo.push(...newNormalInfo)
   this.normalLoaded = true
    this.channelLoaded = false
  
  }
  private reactivelySetNewRefreshInfo(newRefreshInfo: RefreshInfo[]) {
    this.selectedRefreshInfo.splice(0)
    newRefreshInfo.forEach(
      (item: RefreshInfo, index: number) => (item.id = index)
    )
    this.selectedRefreshInfo.push(...newRefreshInfo)
    this.refreshLoaded = true
     this.channelLoaded = false
   
  }
  private reactivelySetNewChannelInfo(newChannelInfo: ChannelInfo[]) {
    this.selectedChannelInfo.splice(0)
    newChannelInfo.forEach(
      (item: ChannelInfo, index: number) => (item.id = index)
    )
    this.selectedChannelInfo.push(...newChannelInfo)
    this.channelLoaded = true
    this.normalLoaded = false
    this.refreshLoaded = false
  
  }
}
</script>